a.main-header {
     text-decoration: none;
     font-family: 'Raleway';
     color: white;
 }
 .page-max-width {
     max-width: 1200px;
     margin: auto;
 }
 .mdl-data-table {
     width: 100%;
 }
 .form-input {
     padding: 15px;
 }
 .footer.mdl-mini-footer {
     background-color: #607d8b;
     color: white;
 }
 a.table-link {
     text-decoration: none;
     color: black;
 }
 #mdl-layout-login {
     align-items: center;
     justify-content: center;
 }
 .mdl-card__title-text {
     font-family: 'Raleway';
 }
 #mdl-button-size {
     width: 100%;
 }
 .mdl-layout__content {
     flex: 1 0 auto;
 }
 .align-button {
     float: right;
 }
 #snackbar {
     visibility: hidden;
     min-width: 250px;
     margin-left: -125px;
     background-color: rgb(96, 125, 139);
     color: white;
     text-align: center;
     padding: 20px;
     position: fixed;
     z-index: 1;
     left: 50%;
     bottom: 100px;
     font-size: 18px;
 }
 #snackbar.show {
     visibility: visible;
     -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
     animation: fadein 0.5s, fadeout 0.5s 2.5s;
 }
 @-webkit-keyframes fadein {
     from {
         bottom: 0;
         opacity: 0;
     }
     to {
         bottom: 100px;
         opacity: 1;
     }
 }
 @keyframes fadein {
     from {
         bottom: 0;
         opacity: 0;
     }
     to {
         bottom: 100px;
         opacity: 1;
     }
 }
 @-webkit-keyframes fadeout {
     from {
         bottom: 100px;
         opacity: 1;
     }
     to {
         bottom: 0;
         opacity: 0;
     }
 }
 @keyframes fadeout {
     from {
         bottom: 100px;
         opacity: 1;
     }
     to {
         bottom: 0;
         opacity: 0;
     }
 }
 .mdh-expandable-search {
     margin: 0 8px;
     align-items: center;
     justify-content: flex-end;
 }
 .mdh-expandable-search form {
     max-width: 300px;
 }
 .mdh-expandable-search,
 .mdh-expandable-search form,
 .mdh-expandable-search input {
     /* Cross browser flex-grow */
     -webkit-box-flex: 1;
     -webkit-flex-grow: 1;
     -ms-flex-positive: 1;
     flex-grow: 1;
 }
 .mdh-expandable-search,
 .mdh-expandable-search form {
     /* Cross browser inline-flex */
     display: -webkit-inline-box;
     display: -webkit-inline-flex;
     display: -moz-inline-box;
     display: -ms-inline-flexbox;
     display: inline-flex;
 }
 /* Position search icon */
 
 .mdh-expandable-search .material-icons {
     position: relative;
     right: -30px;
 }
 .mdh-expandable-search input {
     outline: none;
     border: none;
     font-size: 16px;
     color: #FFFFFF;
     background-color: #78909C;
     padding-left: 35px;
     height: 40px;
     line-height: 40px;
     border-radius: 5px 5px 5px 5px;
     -moz-border-radius: 5px 5px 5px 5px;
     -webkit-border-radius: 5px 5px 5px 5px;
 }
 @media screen and (min-width: 851px) {
     .mdl-layout__header-row {
         padding: 0 20px 0 20px;
     }
 }
 .dataTables_wrapper .dataTables_filter {
     padding-bottom: 10px;
 }
 .mdl-layout__header-row.padding-title {
     padding: 0 10px 0 10px;
 }
 .mdl-layout-title.user-color {
     color: rgb(96, 125, 139);
 }
